<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" title="Default" charset="utf-8"/>
    <script type="text/javascript" src="/javascripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  	<title>Lyrics We Love</title>
  </head>
  <body>
      
      <div id="wrapper-external">
      
        <div id="wrapper">
      
          <div id="nav">
            <ul>
            {% if user %}
              <li>{{ user }}</li>
              <li><a href="/lyric/new">add a lyric</a></li>
              <li><a href="{{ logout_url }}">logout</a></li>
            {% else %}
              <li><a href="{{ login_url }}">login</a></li>
            {% endif %}
            </ul>
          </div>
    
          <div id="wrapper-inside">
    
            <div id="header">
              <h1 id="title">
                  <a href="/" style="color: #707689;">lyrics</a><a style="color: #a5adc7;" href="/">we</a><a style="color: #ceafc8;" href="/">love</a>
              </h1>
            </div>
  
            {% block pageheader %}{% endblock %}
            <div id="content">
              {% block content %}{% endblock %}
            </div>
            
          </div>
    
          <div id="footer">
            made by <a href="http://www.al3x.net" target="_blank">al3x</a> and <a href="http://www.funktatron.com" target="_blank">funkatron</a>
          </div>
      
        </div>
      
      </div>
      
  </body>
</html>
