{% extends "base.html" %}

{% block content %}
  <h2>Share A Lyric</h2>
  
  <form action="/lyric/new" method="post" name="new_lyric_form" class="lyricform">
    <label for="lyric">Lyric</label>
    <textarea name="body"></textarea>
    <br />
    
    <label for="artist">Artist</label>
    <input type="text" name="artist" />
    <br />
    
    <label for="album" class="optional">Album</label>
    <input type="text" name="album" />
    <br />
    
    <label for="ASIN" class="optional">ASIN</label>
    <input type="text" name="ASIN" />
    <br />
    
    <label for="song">Song</label>
    <input type="text" name="song" />
    <br />
    
    <label for="submit"></label>
    <input type="submit" value="La la la shoop shoop" />
  </form>
{% endblock %}