{% extends "base.html" %}

{% block pageheader %}
  <h2 id="subtitle">please do share a lyric</h2>
{% endblock %}

{% block content %}  
  <form action="/lyric/new" method="post" name="new_lyric_form" class="lyricform">
    <label for="lyric">lyric</label>
    <textarea name="body"></textarea>
    <br />
    
    <label for="artist">artist</label>
    <input type="text" name="artist" />
    <br />
    
    <label for="song">song</label>
    <input type="text" name="song" />
    <br />
    
    <label for="album" class="optional">album</label>
    <input type="text" name="album" />
    <br />
    
    <label for="ASIN" class="optional">ASIN</label>
    <input type="text" name="ASIN" />
    <br />

    <label for="submit"></label>
    <input type="submit" value="la la la shoop shoop" />
  </form>
{% endblock %}