{% extends "base.html" %}

{% block pageheader %}
  <h2 id="subtitle">please do share a lyric</h2>
{% endblock %}

{% block content %}  
  <script src="/javascripts/jquery.inputHintBox.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      LWL.initFormHelp();
    })
  </script>


  <form action="/lyric/new" method="post" name="new_lyric_form" class="lyricform">
    <label for="lyric">lyric</label>
    <textarea name="body" id="body-field"></textarea>
    <br />
    
    <label for="artist">artist</label>
    <input type="text" name="artist" id="artist-field" />
    <br />
    
    <label for="song">song</label>
    <input type="text" name="song" id="song-field" />
    <br />
    
    <label for="album" class="optional">album</label>
    <input type="text" name="album" id="album-field" />
    <br />
    
    <label for="ASIN" class="optional">ASIN</label>
    <input type="text" name="ASIN" id="ASIN-field" />
    <br />

    <label for="submit"></label>
    <input type="submit" value="la la la shoop shoop" />
  </form>
{% endblock %}